@model DriveForum.ViewModels.AuthUser
<html>
<head>

</head>
<body>
    <div>
        <form method="post" asp-action="Log_in" asp-controller="Auth" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label>Логин:</label>
                <input type="text" asp-for="Login" />
            </div>
            <div>
                <label>Пароль:</label>
                <input type="password" asp-for="Password" />
            </div>
            <input type="submit" value="Войти" />
        </form>
    </div>
</body>
</html>