@model DriveForum.ViewModels.AuthUser
<html>
    <head>
    <link href="/css/Auth.css" rel="stylesheet" />
    </head>
<body>
    <div class="container">
        <div class="registration-box">
            <h2 class="registration-header">Регистрация</h2>
            <form class="registration-form" method="post" asp-action="Register" asp-controller="Auth" asp-antiforgery="true">
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly"></div>
                    <label for="login">Логин:</label>
                    <input type="text" id="login" name="login" required>
                    <span asp-validation-for="Login"></span>
                </div>
                <div class="form-group">
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password" required>
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label for="username">Имя пользователя:</label>
                    <input type="text" id="username" name="username" required>
                    <span asp-validation-for="Password"></span>
                </div>
                <button class="reg" type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</body>
</html>