<html>
<head>
    <link href="/css/Main.css" rel="stylesheet" />
    <title>DriveForum</title>
</head>
<body>
    <div class="header">
        <div class="dfblock">
            <a class="driveForum" asp-controller="Post" asp-action="Feed">
                <h1 class="df1">Drive</h1>
                <h1 class="df2">Forum</h1>
            </a>
        </div>
        <div class="authButtons">
            @{
                if (Auth?.User?.Role == DriveForum.Models.Roles.Moderator)
                {
                    <a href="/moderator">Добавление/удаление машин</a>
                }
                if (User?.Identity?.Name == null)
                {
                    <a asp-action="Login" asp-controller="Auth"><button>Войти</button></a>
                    <a asp-action="Registration" asp-controller="Auth"><button>Зарегистрироваться</button></a>
                }
                else
                {
                    <div>
                        <a asp-controller="Profile" asp-action="ProfilePage" asp-route-login="@Auth?.User?.Login">@Auth?.User?.Username</a>
                        <a asp-action="Logout" asp-controller="Auth"><button>Выйти</button></a>
                    </div>
                }
            }
        </div>
    </div>
    @RenderBody()
</body>
</html>
