@inject Auth Auth
@model DriveForum.ViewModels.UserProfileVM
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/SinglePost.css" />
    <link rel="stylesheet" type="text/css" href="/css/Profile.css" />
</head>
    <body>
    @await Html.PartialAsync("ProfilePageNew", Model)
    @{
        if (Auth?.User?.Id == Model.User.Id)
        {
            <div class="addpost">
                <a asp-controller="Post" asp-action="CreatePost"><button class="defaultbutton">Создать пост</button></a>
            </div>
            }
            foreach (var item in Model.User.UserPosts)
            {
                @await Html.PartialAsync("../Post/OnePost", item) <br />
            }
        }
    </body>
</html>