@inject Auth Auth
@model DriveForum.Models.User
<html>
<head>
    <body>
        <form method="get" asp-action="ProfilePage" asp-controller="Profile" asp-route-id="@Model?.Login">
            <div>
                @{
                    if (Auth?.User?.Id == Model?.Id)
                    {
                        <div>
                            <span>Ваш логин: @Auth?.User?.Login</span><br/>
                            <span>Ваш никнейм: @Auth?.User?.Username</span><br/>
                            <span>Ваш e-mail: @Auth?.User?.Email</span><br/>
                        </div>
                    }
                    else
                    {
                        <span>не ваш аккаукнт</span>
                    }
                }
            </div>
        </form>
        <span>Описание профиля: <br></br> @Auth?.User?.Description</span><br />
        <form method="post" asp-action="ChangeDesc" asp-controller="Profile">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" name="id" value="@Auth?.User?.Id"/>
            <input type="text" asp-for="Description" />
            <input type="submit" value="Сохранить" />
        </form>
    </body>
</head>
</html>