@inject Auth Auth
@model DriveForum.Models.User
<html>
<head>
    <body>
        <form method="get" asp-action="ProfilePage" asp-controller="Profile" asp-route-login="@Model?.Login">
            <div>
                @{
                    if (Auth?.User?.Id == Model?.Id)
                    {
                        <div>
                            <span>Ваш логин: @Auth?.User?.Login</span><br/>
                            <span>Ваш никнейм: @Auth?.User?.Username</span><br/>
                            <span>Ваш e-mail: @Auth?.User?.Email</span><br/>
                            <span>Описание профиля:<br /> @Auth?.User?.Description</span><br />
                        </div>
                    }
                    else
                    {
                        <div>
                            <span>Никнейм пользователя: @Model?.Username</span><br/>
                            <span>E-mail пользователя: @Model?.Email</span><br/>
                            <span>Описание профиля:<br/> @Model?.Description</span><br/>
                        </div>
                    }
                }
            </div>
        </form>
        @if (Auth?.User?.Id == Model?.Id)
        {
        <form method="post" asp-action="ChangeDesc" asp-controller="Profile">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" name="id" value="@Auth?.User?.Id"/>
            <input type="text" asp-for="Description" />
            <input type="submit" value="Сохранить" />
        </form>
        }
        <div>
            <a asp-controller="Profile" asp-action="ShowUserPosts" asp-route-userId="@Model.Id">dfsg</a>
        </div>
    </body>
</head>
</html>