@model DriveForum.ViewModels.CarsAndUserPost;

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/CreatePost.css">
</head>
<body>
    <div class="create-post-container">
        <div class="create-post-box">
            <h1>@TempData["ErrorMessage"]</h1>
            <form class="create-post-form" asp-controller="Post" asp-action="CreatePost" asp-route-userId="@Auth?.User?.Id" enctype="multipart/form-data">
                <label class="post-label">Выберите машину:</label>
                <select asp-for="CarId" id="CarId">
                    @{
                        foreach (var car in Model.Cars.OrderBy(c => c.Model.Brand.Name).ToList())
                        {
                            <option value="@car.Id">
                                @car.ToString()
                            </option>
                        }
                    }
                </select>

                <label class="post-label">Название поста:</label>
                <input type="text" asp-for="Title" maxlength="400"/>

                <label class="post-label">Фото поста:</label>
                <input type="file" asp-for="MainPhoto" accept="image/jpeg, image/png, image/jpg"/>

                <label class="post-label">Основная часть:</label>
                <textarea class="maininfo" type="text" asp-for="Main" maxlength="5000"></textarea>

                <input type="submit" value="Отправить" />
            </form>
        </div>
    </div>
</body>
</html>
