@inject DriveForum.Context.Auth Auth
@model DriveForum.ViewModels.CarsAndUserPost;

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/CreatePost.css">
</head>
<body>
    <div class="create-post-container">
        @if (Auth?.User == null)
        {
            <div class="unauthenticated-label">
                <label>иди</label>
            </div>
        }
        else
        {
            <div class="create-post-box">
                <form class="create-post-form" asp-controller="Post" asp-action="CreatePost" asp-route-userId="@Auth?.User?.Id">
                    <label class="post-label" for="CarId">Выберите машину:</label>
                    <select asp-for="CarId" id="CarId">
                        @{
                            foreach (var car in Model.Cars.OrderBy(c => c.Model.Brand.Name).ToList())
                            {
                                <option value="@car.Id">
                                    @car.ToString()
                                </option>
                            }
                        }
                    </select>

                    <label class="post-label" for="Title">Название поста:</label>
                    <input type="text" asp-for="Title" />

                    <label class="post-label" for="Main">Основная часть:</label>
                    <textarea class="maininfo" type="text" asp-for="Main"></textarea>
                    <input type="submit" value="Отправить" />
                </form>
            </div>
        }
    </div>
</body>
</html>
