@inject Auth Auth
@model List<DriveForum.Models.UserPost>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/SinglePost.css">
    </head>
<body>
    @{
        foreach (var item in Model)
        {
            @await Html.PartialAsync("OnePost", item) <br />
        }
    }
    </body>
</html>