/* Основные стили для отображения поста в интернете */

/* Контейнер для основного поста */
.post-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 16px;
    background-color: #fff;
}

/* Информация о профиле и дате */
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Информация о профиле */
.profile-info {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.username {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Дата поста */
.post-date {
    color: #777;
    font-size: 0.9em;
}

/* Основные данные о машине */
.car-details {
    font-weight: bold;
    margin: 8px 0;
    background-color: red;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
}

/* Контейнер основного содержимого поста */
.post-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

/* Основная информация о посте */
.content-main {
    flex: 2;
    padding-right: 16px;
}

.post-title {
    font-size: 35px;
    font-weight: bold;
    color: black;
    padding: 15px 0 15px 0;
    text-align: center;
}

.post-title a {
    color: black;
    text-decoration: none;
}

.post-text {
    font-size: 20px;
    color: #333;
    word-wrap: anywhere;
}

.car-image {
    flex: 1;
    max-width: 600px;
    border-radius: 5px;
}

.comment-form {
    text-align: center;
    margin: 10px 0;
}

.comment-textarea {
    resize: none; /* Запрет изменения размера */
    width: 100%; /* Займает всю ширину родительского элемента */
    max-width: 900px; /* Ограничение максимальной ширины */
    margin: 10px auto; /* Центрирование */
    display: block; /* Снимает ограничения по центру */
}
